* {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 180vh;
    width: 901px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

header {
    height: auto;
    /* border: thin solid black; */
}

.top-container {
    display: inline;
    width: auto;
    

}

#link {
    float: right;
    width: auto;
    margin-top: 100px;
    
}

#socials li {
    display: inline;
}
#RSS{
    padding-left: 4px;
}
#logo {
    display: inline-block;
    height: auto;
    width: 50%;
}

#logo img {
    float: left;
    margin-top: 50px;
}
#logo div p{
    margin-top: 1px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: ;
}
#logo h1 {
    width: auto;
    margin-bottom: 4px;
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
}

.header-border {
    width: 100%;
    background-image: url(/img/hr-img.png);
    background-repeat: repeat;
    height: 10px;
    
}

main {
    display: grid;
    grid-template-rows: 10% 35% 25% 20% 20% 10%;
}

.main-heading {
    display: grid;
}

.right {
    align-self: right;
    float: right;
}

.main-heading > div > p {
    font-size: .8rem;
    color: rgba(0, 0, 0, .5);
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

.main-text > p {
    text-indent: 2em;
    font-size: 1.2rem;
    line-height: 1.7em;
}

.ingredients-list {
    position: relative;
    display: inline-block;
    height: fit-content;
    width: 100%;
}

.list-background {
    position: absolute;
    z-index: -1s;
    box-shadow: 0px 0px rgba(0, 0, 0, .2);
}

.list {
    position: absolute;
    width: 901px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list>ul {
    max-width: 35em;

}

.list > ul > li {
    font-family: 'Patrick Hand', cursive;
    line-height: 2em;
    font-size: 1.2rem;
    font-weight: 100;
}

input[type="checkbox"] {
    appearance: none;
    background-color: inherit;
    margin: 4px;
    font: inherit;
    color: currentColor;
    width: .6em;
    height: .6em;
    border: 0.07em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(.1em);
}

.about-me-border {
    height: 10px;
    width: 100%;
    background-image: url("./img/hr-img.png");
    background-repeat: repeat;
}

.about-me {
    display: inline-block;
    /* flex-direction: row; */
    position: relative;
    z-index: 2;
}

.about-me-info {
    display: inline-block;
    width: 30em;
}

.about-me > button {
    background-color: #bc7058;
    color: white;
    font-size: arial;
    justify-self: right;
    height: 3rem;
    width: 9rem;
}

footer > img {
    margin: 0 45%;
}

footer > p {
    margin: 5px 36%;
    overflow-y: visible;
    white-space: nowrap;
    font-size: .8rem;
    color: rgba(0, 0, 0, .6);
}

footer > p:nth-child(3) {
    margin: 5px 38%;
}